/* Screens --------------------- */
.tb_data {
    width: 100%;
    border-radius: 10px;
}

.cts_forms {
    width: 100%;
}

.cl_actions {
    width: 400px;
}

.cl_hidden {
    display: normal;
}

@media (max-width: 950px) {
    .cl_hidden {
        display: none;
    }
}

/* Popups --------------------- */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.pp_inner {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 25%;
    min-width: 300px;
    max-width: 500px;
    height: 440px;
    margin: auto;
    background: white;
}

.pp_del_inner, .pp_ms_inner {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 25%;
    min-width: 300px;
    max-width: 500px;
    height: 200px;
    margin: auto;
    background: white;
}